* {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  width: 100%;

  background-color: rgb(255, 255, 255);
}
header {
  width: 100%;
  height: 100%;
  /* background-color: chocolate; */
}
.container {
  /* width: 100%;
  height: 100vh; */
  position: relative;
}
.sec1 .top-banner {
  width: 100%;
  height: 25px;
  background-color: #fee400;
}
.sec1 .top-banner .inner-txt {
  /* width: 100%; */
  font-size: 13px;
  display: flex;
  justify-content: center;
  line-height: 25px;
  /* text-align: center; */
  /* align-items: center; */
}
.sec1 {
  /* position: relative; */
}
.sec1 .nav-bar {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  /* height: 70px; */
  position: fixed;
  z-index: 3;
  /* box-sizing: border-box; */
  padding: 0 20px;
}
.sec1 .nav-bar .__left {
  display: flex;

  align-items: center;
  gap: 30px;
  font-weight: 800;
}
.sec1 .nav-bar .wg-logo img {
  width: 85px;
}
.sec1 .nav-bar .__left ul {
  display: flex;
  gap: 25px;
}

.nav-bar .__right {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 800;
}
.nav-bar .__right .nav-txt2 {
  display: flex;
  align-items: center;

  gap: 30px;
}
.nav-bar .__right .icon-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar .__right .icon-btn .icon-btns {
  width: 25px;
  height: 25px;
  /* background-color: black; */
}
.sec1 .banner-box {
  width: 100%;
  height: 100vh;

  /* position: fixed; */

  /* z-index: 1; */
  display: flex;
}

.sec1 .banner-box .main-banner {
  width: 100%;
  height: 100%;
}
.sec1 .banner-box .main-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2 {
  /* min-width: 1150px; */
  z-index: 2;
  /* margin-top: 100vh; */

  /* background-attachment: fixed; */
  background-color: #fff;
}

.sec2 .inner-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}
.sec2 .inner-wrap .main-tit {
  /* width: 722px;
  height: 250px; */
  position: fixed;
  z-index: 2;
  top: 800px;
}
.sec2 .boxs {
  display: flex;
  text-align: center;
}
.sec2 .boxs .box {
  width: calc(100% / 6);
  /* height: 100vh; */
  background-color: #fff;
}
.sec2 .boxs .box img {
  width: 100%;
}
.sec2 .boxs .box p {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 600;
}
.sec2 .section1 {
  width: 2030px;
  height: 100vh;
  display: flex;
  /* z-index: 0; */
}

.sec2 .section1 .tit-sec {
  padding: 80px 0 40px 50px;
  position: absolute;
  left: 62%;
  text-align: left;
}
.sec2 .section1 .sec2-boxs {
  width: 100%;
  /* max-height: 85vh; */
  display: flex;
  align-items: stretch;
}
.sec2 .section1 .sec2-boxs .inner-box .left-box {
  width: 62%;
}
.sec2 .section1 .sec2-boxs .inner-box .left-box img {
  width: 100%;
}
